<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    
    <% if @user.is_logged_in? %>
      <h3> <%= @user.username %> </h3>
      <p> <%= @user.balance %> </p>
    <% else %>
      <a href="/index.erb">Return to log in page</a>
    <% end %>
    <form action="logout" method="post">
      <a><input type="submit" name="Log Out" /></a>
    </form>
    
    

  </body>
</html>